<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bagdoor - Код подтверждения</title>
    <style>
@media only screen and (max-width: 480px) {
  .email-container {
    padding: 10px !important;
  }

  .email-content {
    padding: 20px !important;
    border-radius: 15px !important;
  }

  .code-text {
    font-size: 30px !important;
    line-height: 45px !important;
  }

  .text-content {
    font-size: 16px !important;
    line-height: 26px !important;
  }
}
</style>
</head>
<body style="margin: 0; padding: 0; font-family: 'Inter', Arial, sans-serif; background-color: #232329;">
    <div class="email-container" style="width: 100%; max-width: 600px; margin: 0 auto; padding: 20px; box-sizing: border-box;">
        <div class="email-content" style="background: #1A1B1E; border-radius: 23px; padding: 35px; margin-bottom: 20px; box-sizing: border-box;">
            <div style="text-align: center; margin-bottom: 30px;">
                <a href="https://example.com">
                  <img src="cid:logo" alt="Bagdoor логотип" style="height: 30px; width: auto;">
                </a>
            </div>
            
            <div style="color: white; font-size: 15px; line-height: 30px; margin-bottom: 20px;">
                <div style="text-align: left; margin-bottom: 15px;" class="text-content">Привет,</div>
                
                <div style="margin-bottom: 25px;" class="text-content">
                    <span style="color: white; font-size: 15px; line-height: 30px;">Это </span>
                    <span style="color: white; font-size: 15px; font-weight: 700; line-height: 30px;">Bagdoor</span>
                    <span style="color: white; font-size: 15px; line-height: 30px;">! Спасибо за регистрацию в нашем приложении! Мы рады, что ты теперь с нами.<br>
                    Чтобы продолжить процесс регистрации, пожалуйста, подтверди свой адрес электронной почты, введя данный код в приложении:</span>
                </div>
                
                <div class="code-text" style="text-align: left; color: #FF4400; font-size: 25px; font-weight: 700; line-height: 54px; margin: 30px 0;">
                    54690
                </div>
                
                <div style="margin-bottom: 25px;" class="text-content">
                    <span style="color: white; font-size: 15px; line-height: 30px;">Код подтверждения действует 5 мин.<br>
                    В целях безопасности вашего аккаунта никому не сообщайте следующий код подтверждения. <br>
                    При возникновении любых вопросов свяжитесь с нашей службой поддержки, отправив электронное письмо на адрес </span>
                    <a href="mailto:support@bagdoor.io" style="color: #554EFF; font-size: 15px; text-decoration: underline; line-height: 30px;">support@bagdoor.io</a>
                </div>
                
                <div style="margin-top: 40px; color: white; font-size: 15px; line-height: 30px;" class="text-content">
                    С любовью, команда bagdoor
                </div>
            </div>
        </div>
    </div>
</body>
</html>